$font: 'Montserrat', sans-serif;
$kittyFont: 'Leckerli One', cursive;
$lineHeight: 26px;
$fontSize: 15px;
$smallFont: 14px;
$fontWeight: 700;
$btnRadius: 20px;

//Colours

$light: #FFFFFF;
$lightBlue: #0081FF;
$blue: #007AF3;
$btnTxtColor: #FFFFFF;
$btnColor: #3B4374;
$headingColor: #555555;
